.top {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: fixed;
    right: 50px;
    bottom: 90px;
    z-index: 1000;
    text-align: center;
}
.button img{
    z-index: 1000000;
    width: 40px;
}