.scrollerContainer{
    display: flex;
    justify-content: center;
}
.main__action .main__scroll-box {
    animation: scroll-down 1.75s infinite;
}
.main__action{
    width: 8%;
}
@keyframes scroll-down {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    35% {
        transform: translateY(1rem);
        opacity: 0;
    }
    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}
@media(max-width: 550px){
    .scrollerContainerServices{
        display: none;
    }
    .item4::after{
        content: "Learn more about our services below";
    }
    .grid_container{
        margin-bottom: 50px;
    }
}