.indexMain{
    overflow: visible;
}
.hero{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    position: relative;
    overflow-y: hidden;
    video{
        z-index: -100;
        width: 100%;
        height: fit-content;
    }
}
.content{
    z-index: 1;
    position: absolute;
    text-align: center;
    color: $signature_white;
    margin-top: 50px;
}
.content{
    font-size: 25px;
    h1{
        text-shadow: 3px 3px 3px black;
        font-size: 60px;
        margin-bottom: 50px;
    }
}
.cards-title{
    color: $signature_white;
    text-align: center;
    margin: 50px 0px 40px 0px;
    font-size: 45px;
}
.h2-container{
    height: 60px;
    background-color: $signature_black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mycards{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.mycard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 33.33333%;
    background-size: cover;
    text-align: center;
    border: solid #0b0b0b 10px;
    background-position: center;
    h2{
        margin-top: 20px;
        color: $signature_white;
        text-shadow: -3px 3px 3px black;
        font-size: 35px;
        z-index: 100000;
        position: relative;
    }
    a{
        margin-top: 50px;
        font-size: 20px;
    }
}
.mycard1{
    background-image: url(../assets/images/homecards/performance_parts.webp);
}
.mycard2{
    background-image: url(../assets/images/homecards/911.webp);
}
.mycard3{
    background-image: url(../assets/images/homecards/porsche_991_gt3rs_dyno.webp);
}
.indexBody{
    background-color: $signature_black;
}
@media (max-width: 1200px) {
    .hero {
        height: fit-content;
    }
}
@media (min-width: 1200px) {
    .hero {
        height: calc(100vh - 70px);
    }
}
@media (max-width:769px){
    .mycards{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .mycard{
        width: 100%;
    }
    .cards-title{
        font-size: 25px;
    }
}
@media (max-width:580px){
    .hero .content h1{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .hero .content a {
        font-size: 20px;
    }
    .h2-container .cards-title{
        font-size: 20px;
    }
    .mycard{
        height: 300px;
        .mycardTitle{ 
            font-size: 25px;
        }
    }
}
@media (max-width:384px){
    .hero .content h1{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .h2-container .cards-title{
        font-size: 15px;
    }
    .mycard{
        height: 200px;
        .mycardTitle{ 
            font-size: 20px;
        }
        .button{
            font-size: 15px;
        }
    }

}